::-webkit-scrollbar {									/* Scrollbars */
	width: 12px;
    height: 12px;
    background: transparent 0 0 repeat;
}
::-webkit-scrollbar-thumb {								/* Barre */
	border: solid 0 transparent;
	border-right-width: 4px;
	-webkit-border-radius: 5px;
	-webkit-border-top-right-radius: 17px 5px;
	-webkit-border-bottom-right-radius: 17px 5px;
	-webkit-box-shadow: inset 0 0 0 1px #888888, inset 0 0 0 6px #888888;
}
::-webkit-scrollbar-thumb:hover {						/* Barre */
	-webkit-box-shadow: inset 0 0 0 1px #888888, inset 0 0 0 6px #888888;
}
::-webkit-scrollbar-thumb:horizontal {					/* Barre du bas */
	border-right-width: 0;
	border-bottom-width: 4px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px 17px;
	-webkit-border-bottom-left-radius: 5px 17px;
}