html, body {
    background-color: #101010;
    height: 80%;
    margin-right: 0.30%;
    margin-left: 0.30%;
}
h3{
    text-align: center;
    font-size: 186%;
    color:#e2cd32;
}
h3:hover{
    color: white;
    -webkit-transition: all 0.2s ease; 
    -moz-transition: all 0.2s ease; 
    -ms-transition: all 0.2s ease; 
    -o-transition: all 0.2s ease; 
    transition: all 0.2s ease;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: #f03838;
    text-decoration: underline;
}
h2{
    color:#fff;
    margin-left: 2.6%;
}
strong {
font-size: 106%;
}
strong:hover{
    color: #f03838;

}
p{
    color: white;
    font-size: 136%;
    margin-left: 4.6%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
hr{
    color:white;
    align-items: center;
    size: 50%;

}
em{
    font-style: oblique 30deg;
}
em:hover{
    font-style: normal;
}
.bg {
  background-image: url("https://i.imgur.com/iI0Gl31.jpg");
  height: 35%; 
  filter: blur(5px);
  -webkit-filter: blur(5px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg:hover{
  filter: blur(0px);
  -webkit-filter: blur(0px);
  background-image: url("https://i.imgur.com/iI0Gl31.jpg");
  height: 70%;
  -webkit-transition: all 0.5s ease; 
    -moz-transition: all 0.5s ease; 
    -ms-transition: all 0.5s ease; 
    -o-transition: all 0.5s ease; 
    transition: all 0.5s ease; 
}
.bg1 {
  background-image: url("https://i.imgur.com/G5abVkm.jpg");
  height: 100%;
  margin-left: 36%;
  width: 30%;
  height: 30%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg1:hover{
  background-image: url("https://i.imgur.com/G5abVkm.jpg");
  height: 105%;
  margin-left: 16%;
  width: 70%;
  height: 70%;
  -webkit-transition: all 0.5s ease; 
    -moz-transition: all 0.5s ease; 
    -ms-transition: all 0.5s ease; 
    -o-transition: all 0.5s ease; 
    transition: all 0.5s ease; 
}
.bg2 {
  background-image: url("https://i.imgur.com/DXOtyCi.jpgg");
  height: 60%;
  margin-left: 36%;
  width: 30%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg2:hover{
  background-image: url("https://i.imgur.com/DXOtyCi.jpgg");
  height: 110%;
    margin-left: 16%;
  width: 60%;
  -webkit-transition: all 0.5s ease; 
    -moz-transition: all 0.5s ease; 
    -ms-transition: all 0.5s ease; 
    -o-transition: all 0.5s ease; 
    transition: all 0.5s ease; 
}
.zoom {

    -webkit-transition: all 0.5s ease; 
    -moz-transition: all 0.5s ease; 
    -ms-transition: all 0.5s ease; 
    -o-transition: all 0.5s ease; 
    transition: all 0.5s ease;
    }
.zoom:hover{

    -webkit-transform:scale(95%); 
    -moz-transform:scale(95%); 
    -ms-transform:scale(95%); 
    -o-transform:scale(95%); 
    transform:scale(95%);
    }
.ban {
    color: black;
    font-size: 186%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);

}
#ban{
    color:black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 106%;
}
.container1, .container2, .container3, .container4{
    background-color:#101012;
}
.container1:hover, .container2:hover, .container3:hover, .container4:hover{
        -webkit-transition: all 0.5s ease; 
    -moz-transition: all 0.5s ease; 
    -ms-transition: all 0.5s ease; 
    -o-transition: all 0.5s ease; 
    transition: all 0.5s ease;
}

.endpage {
    height: 20%;
}
#endpage {
    text-align: right;
    margin-right: 0.30%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100%;
}
