html, body {
    background-color: black;
    height: 80%;
    margin-right: 0.30%;
    margin-left: 0.30%;
}
.zoom {
    -webkit-transition: all 0.3s ease; 
    -moz-transition: all 0.3s ease; 
    -ms-transition: all 0.3s ease; 
    -o-transition: all 0.3s ease; 
    transition: all 0.3s ease;
    }
.zoom:hover{
    -webkit-transform:scale(110%); 
    -moz-transform:scale(110%); 
    -ms-transform:scale(110%); 
    -o-transform:scale(110%); 
    transform:scale(110%);
    }
.ban {
    text-align: center;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 136%;

}
.container1, .container2, .container3, .container4{
    background-color:transparent;
}
.container1 {
    
}
h1{
    color: white;
    font-size: 156%;
    margin-left: 1.6%;
}
h2{
    color:#fff;
    margin-left: 2.6%;
}
strong {
font-size: 106%;
}
p{
    color: white;
    font-size: 126%;
    margin-left: 4.6%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
hr{
    color:white;
    align-items: center;
    size: 50%;

}
em{
    font-style: oblique 30deg;
}
em:hover{
    font-style: normal;
}
.endpage {
    height: 20%;
}
#endpage {
    text-align: right;
    margin-right: 0.30%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100%;
}
